/* globals */
:root {
  --success: #4caf50;
  --error: #f44336;
  --main-font: rgba(0, 0, 0, 0.8);
  --type: rgba(0, 0, 0, 0.6);
  --value: #b71c1c; /* red 900*/
  --attr: #3f51b5; /* indigo 900 */
  --script: #388e3c;
}

html,
body {
  color: var(--main-font);
}

/* end Globals */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  max-width: 90vw;
  margin: auto;
}
/* schema container */
.inputContainer {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.panel {
  border: 1px dashed darkblue;
  min-height: 60vh;
  padding: 0.5rem;
}

/* controls CSS */
.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.controls button {
  margin: auto 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 3px -1px black;
  transition: all 0.25s ease-in;
}

.controls button:hover {
  transform: translateY(1px);
  box-shadow: 2px 1px 3px -1px #000000b8;
}

.controls .copy {
}

.controls .validate {
  background-color: var(--success);
  color: white;
}
.controls .reset {
  background-color: var(--error);
  color: white;
}

/* end controls CSS */

label,
input {
  display: block;
  padding: 0.25rem;
  width: 90%;
}

textarea {
  width: 90%;
}

.attribution {
  text-align: center;
}

/* json-ld CSS */
.indent-1 {
  margin-left: 1rem;
}

.indent-2 {
  margin-left: 2rem;
}

.indent-3 {
  margin-left: 3rem;
}

code p {
  margin: 0.75rem 0;
  word-break: break-all;
  color: var(--key);
}

.script {
  color: var(--script);
}

.attr {
  color: var(--attr);
}

.key {
  color: var(--key);
}

.value {
  color: var(--value);
}

.type {
  color: var(--type);
}

/* end json-ld CSS */

/* banner CSS */

.banner {
  position: fixed;
  height: 3rem;
  background: green;
  width: 100%;
  display: grid;
  place-items: center center;
  color: white;
  text-transform: capitalize;
}

.success {
  background: var(--success);
}

.error {
  background: var(--error);
}
