.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  max-width: 90vw;
  margin: auto;
}

.inputContainer {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.panel {
  border: 1px dashed darkblue;
  min-height: 60vh;
  padding: 0.5rem;
}

label,
input {
  display: block;
  padding-bottom: 0.5rem;
}

textarea {
  width: 90%;
}

.attribution {
  text-align: center;
}
