/* globals */
:root {
  --success: green;
  --caution: red;
  --main-font: rgba(0, 0, 0, 0.8);
  --code: red;
  --key: red;
  --value: darkblue;
}

html,
body {
  color: var(--main-font);
}

/* end Globals */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  max-width: 90vw;
  margin: auto;
}

.inputContainer {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.panel {
  border: 1px dashed darkblue;
  min-height: 60vh;
  padding: 0.5rem;
}

/* controls CSS */
.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.controls button {
  margin: auto 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 3px -1px black;
  transition: all 0.25s ease-in;
}

.controls button:hover {
  transform: translateY(1px);
  box-shadow: 2px 1px 3px -1px #000000b8;
}

.controls .copy {
}

.controls .validate {
  background-color: var(--success);
  color: white;
}
.controls .reset {
  background-color: var(--caution);
  color: white;
}

/* end controls CSS */

label,
input {
  display: block;
  padding: 0.25rem;
  width: 90%;
}

textarea {
  width: 90%;
}

.attribution {
  text-align: center;
}

/* json-ld CSS */
.indent-1 {
  margin-left: 1rem;
}

.indent-2 {
  margin-left: 2rem;
}

.indent-3 {
  margin-left: 3rem;
}

code p {
  margin: 0.75rem 0;
  word-break: break-all;
  color: var(--key);
}

.key {
  color: var(--key);
}
.value {
  color: var(--value);
}

/* end json-ld CSS */
